python-dotenv
requests
edge-tts
SpeechRecognition
streamlit
pyaudio
Pillow
cohere
google-genai
groq
mistralai
pymongo
mysql-connector-python
streamlit-monaco
langchain
langchain-community
langchain-text-splitters
langchain-chroma
chromadb
sentence-transformers
pypdf
pdfplumber
python -m streamlit run Backend/Features/app.py